.clearfix::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

#main {
    // width: 70%;
    // margin: 0 auto;
}

.booklist_pane {
    width: 250px;
    margin: 20px;
    float: left;
}

.right_pane {
    width: 650px;
    margin: 20px;
    float: left;
}

.card_media {
    width: 200px;
    height: 300px;
    margin: 10px;
    float: left;
}

.card_rhs {
    // width: 350px;
    margin: 10px;
    height: 300px;
    float: left;
}

.grid_wrapper {
    padding: 20px;
}

.comment_head {
    display: flex;
}

.comment_content {
    width: 400px;
    float: left;
}

.comment_person {
    width: 150px;
    float: left;
}

.comment_result {
    padding-left: 30px;
    padding-bottom: 10px;
}

.tags_wrapper {
    display: flex;
    flexWrap: wrap;
}

.no_comment {
    padding: 20px;
}

.reply_wrapper {
    margin-left: 20px;
    margin-right: 20px;
}

.comment_label {
    color: green;
}

.flex_class {
    display: flex;
}

.new_booklist {
    margin-top: 4px;
}
