.card_media{
    width: 200px;
    height: 240px;
    margin: 10px;
    float: left;
}

.clearfix::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

#home{
    width:60%;
    margin:auto
}

.show_information{
    height:270px;
}
.grid_wrapper{
    overflow: auto;
}
