#home{
    width:60%;
    margin:auto
}
.card_media{
    width: 200px;
    height: 200px;
    margin: 10px;
    float: left;
}

.show_information{
// height:230px;
}
.clearfix::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}
.card_rhs {
    width: 65%;
    margin: 10px;
    height: 180px;
    float: left;
}
.tags {
    display: flex;
    flex-wrap: wrap;
}



.card_media2{
    width: 30px;
    height: 30px;
    margin: 10px;
    float: left;
}

.clearfix2::after{
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.label1{
    position:relative;
    left:23px;
}
.label2{
    position:relative;
    left:40px;
}
.card_right{
    position: relative;
    float: left;
    top:-6px;
    left: 5px;
    margin:5px;
}
