.book_page {
  margin: 80px;
    width: 70%;
}

.flex_class {
    display: flex;
}


.book_card {
    display: flex;
    padding: 20px;
}

.book_cover {
    width: 300px;
    height: 400px;
}

.tag_wrapper {
    padding-left: 20px;
}

.no_comment {
    padding-left: 20px;
}

.comment_header {
    width: 120px;
}

.reply_wrapper {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.add_book {
    margin-top: 10px;
    margin-right: 10px;
}
